<div>
    <h2 data-translate="sadeApp.developer.home.title">Developers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button ng-hide="true" class="btn btn-primary" ui-sref="developer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="sadeApp.developer.home.createLabel">
                        Create new Developer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="user.firstName"><span data-translate="sadeApp.developer.name">Name</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="sadeApp.developer.user">User</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="sadeApp.developer.mobileNumber">Mobile Number</span></th>
                    <th><span data-translate="sadeApp.developer.linkedIn">Linked In</span></th>
                    <th jh-sort-by="availability"><span data-translate="sadeApp.developer.availability">Availability</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="developer in vm.developers track by developer.id">
                    <td>{{developer.user.firstName}} {{developer.user.lastName}}</td>
                    <td>{{developer.user.login}}</td>
                    <td>{{developer.mobileNumber}}</td>
                    <td><a href="{{developer.linkedIn}}" target='_blank'>{{developer.linkedIn}}</a></td>
                    <td>{{developer.availability}}h</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="developer-detail({id:developer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button has-authority="CONPEC_USER" type="submit"
                                    ui-sref="developer.edit({id:developer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="developer.delete({id:developer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
