
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInterviewQuestionLabel" data-translate="sadeApp.interviewQuestion.home.createOrEditLabel">Create or edit a Interview Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.interviewQuestion.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.interviewQuestion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sadeApp.interviewQuestion.questionTitle" for="field_questionTitle">Question Title</label>
            <input type="text" class="form-control" name="questionTitle" id="field_questionTitle"
                    ng-model="vm.interviewQuestion.questionTitle"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sadeApp.interviewQuestion.response" for="field_response">Response</label>
            <input type="text" class="form-control" name="response" id="field_response"
                    ng-model="vm.interviewQuestion.response"
                     />
        </div>

        <div class="form-group">
            <label data-translate="sadeApp.interviewQuestion.questionId" for="field_questionId">Question Id</label>
            <select class="form-control" id="field_questionId" name="questionId" ng-model="vm.interviewQuestion.questionId" ng-options="preDefinedQuestion as preDefinedQuestion.id for preDefinedQuestion in vm.predefinedquestions track by preDefinedQuestion.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
